<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <main>This is just here for setup</main>

    <script type="module">
        import Requests from "/public/scripts/common/utility/http/requests.js";
        Requests.SendGETRequestXHR("https://reqres.in/api/users?page=2")
            .then(response => {
                console.log("STATIC GET REQUEST RESPONSE:")
                console.log(response);
            })
            .catch(error => {
                console.log("STATIC GET REQUEST ERROR:");
                console.log(response);
            })

        const test = new Requests();
        test.sendRequestXHR("https://reqres.in/api/users?page=2")
            .then(response => {
                console.log("XHR GET REQUEST RESPONSE:");
                console.log(response);
            })
            .catch(error => {
                console.log("XHR GET REQUEST ERROR:");
                console.log(response);
            })
    </script>
</body>

</html>