<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main-navbar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main-searchbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LAME|Engine2D</title>
</head>

<body style="background-color: #192231;">
    <header id="create-new-header-banner" class="header-banner">
        <a href="\" class="header-banner-logo">
            <img src="/public/images/icons/logoWhite.svg" alt="Lame Engine 2D Logo">
        </a>
    </header>
    <main id="create-main" class="flex-main-centered">
        <section class="main-content-section" id="terms-main-section">
            <h1><span class="uppercase x-large-font">Create</span></h1>
            <form>
                <fieldset class="main-content-form-field">
                    <button class="primary-button" id="acceptAgreement" style="margin-left: 10px;">
                        <span class="uppercase">Create</span>
                    </button>
                </fieldset>
            </form>
        </section>
    </main>
    <script type="module">
        import Requests from "/public/scripts/common/utility/http/requests.js";
        import EventType from "/public/scripts/common/constants/eventType.js"


    </script>
</body>

</html>