<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main-navbar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main-searchbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LAME|Engine2D</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <img class="nav-icon" src="/public/images/icons/logo.svg" alt="Lame Engine 2D Logo">
            <div class="nav-dropdown">
                <button class="nav-dropdown-btn"><i class="fa fa-bars"></i></button>
                <div class="nav-dropdown-content">
                    <a href="/gameEngine/create"><span class="uppercase">Create</span></a>
                    <a href="/myprojects"><span class="uppercase">My projects</span></a>
                    <a href="/login" style="color: red;"><span class="uppercase">Login</span></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <nav class="nav-searchbar">
            <form name="searchForm" id="searchForm" class="nav-form">
                <fieldset class="nav-form-dropdown-container">
                    <label class="nav-label" for="searchBy"><span class="uppercase">Search by</span></label>
                    <select class="nav-selector" name="searchBy" id="searchBy" form="searchForm">
                        <option value="creatorName">Creator Name</option>
                        <option value="gameName">Game Name</option>
                        <option value="year">Year</option>
                        <option value="rating">Rating</option>
                    </select>
                </fieldset>
                <fieldset class="nav-form-input-container" style="margin-left: 30px;">
                    <label class="nav-label" for="search"><span class="uppercase">Search</span></label>
                    <input class="nav-input" type="text" id="searchFor" name="searchFor" placeholder="Search...">
                </fieldset>
                <button class="primary-button" type="submit" id="searchSubmit" form="searchForm" name="searchSubmit"
                    style="margin-left: 20px;"><span class="uppercase">Search</span></button>
            </form>
            <hr>
            <form name="orderByForm" id="orderByForm" class="nav-form" style="float: right; margin-right: 30px;">
                <fieldset class="nav-form-dropdown-container" style="width: 100%;">
                    <label class="nav-label" for="orderBy"><span class="uppercase">Order by</span></label>
                    <select class="nav-selector" name="orderBy" id="orderBy" form="orderByForm"
                        style="max-width: 150px;">
                        <option value="creator">Creator Name</option>
                        <option value="gameName">Game Name</option>
                        <option value="gameName">Rating</option>
                        <option value="year">Year</option>
                    </select>
                </fieldset>
                <fieldset class="nav-form-dropdown-container" style="width: 30px;">
                    <select class="nav-selector" name="orderAs" id="orderAs" form="orderByForm">
                        <option value="creator">Dsc</option>
                        <option value="gameName">Asc</option>
                    </select>
                </fieldset>
                <button class="primary-button" type="submit" id="orderBySubmit" form="orderByForm" name="orderByApply"
                    style="margin-left: 10px;"><span class="uppercase">Apply</span></button>
            </form>
        </nav>
        <article id="api-status"></article>
        <section id="searchResults"></section>
    </main>
    <footer>
        <article>LAME|Engine2D copyright(c) 2021</article>
    </footer>
    <script type="module">
        import CardBuilder from "/public/scripts/view-components/cards/cardBuilder.js";
        import { Card, Button, PresetColours, PresetFontSize } from "/public/scripts/view-components/cards/card.js";
        import { Explore } from "/public/scripts/explore.js"
        import EventType from "/public/scripts/common/constants/eventType.js"
        import { EventTypeAndHandler } from "/public/scripts/common/utility/events/events.js"
        import Requests from "/public/scripts/common/utility/http/requests.js"
        import Form from "/public/scripts/common/utility/forms/form.js";

        const builder = new CardBuilder();
        const card = new Card();
        card.title = "Test Card";
        card.header = "Card Header";
        card.footer = "Card Footer";
        card.bodyText = "This is Test Body Text";
        card.center = true;
        card.colour = PresetColours.Dark;
        card.whiteText = true;
        card.image = "https://images.unsplash.com/photo-1469532844423-7e9107f9a96f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1058&q=80";

        var buttons = new Array();
        for (var i = 0; i < 1; i++) {
            const button = new Button();
            button.title = "Button" + i.toString();
            button.id = i.toString();
            button.colour = PresetColours.Primary;
            button.fontSize = PresetFontSize.Smaller;
            button.action = (ev) => {
                console.log(ev);
            }
            buttons.push(button);
        }
        card.buttons = buttons;
        const elem = document.getElementById('searchResults');

        for (var i = 0; i < 10; i++) {
            let cardWrapper = builder.createGenericCard(card);
            elem.appendChild(cardWrapper);
        }

        const ex = new Explore(new Form("searchForm"), new Form("orderByForm"), new Requests());
        // searchForm.addEventTypeAndHandler(new EventTypeAndHandler(EventType.FORM.SUBMIT, (result) => {
        //     console.log("RESULT: " + JSON.stringify(result));
        // }));
        window.addEventListener(EventType.FORM.SUBMIT, ex.searchForm);

    </script>

</body>

</html>