<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/css/signin.css" />

		<title>Sign in</title>
	</head>

	<body>
		<form class="game" id="loginForm" action="welcome.html">
			<h1>Login</h1>
			<input
				type="text"
				name=""
				placeholder="Enter Username"
				id="username"
			/>
			<input
				type="password"
				name=""
				placeholder="Enter Password"
				id="password"
			/>
			<input type="submit" value="Login" id="btnSign" onclick="logIn()" />
			<a href="signup"><p>New here? sign up</p></a>
		</form>
		<div id="snackbar">Error</div>
		

		<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
		<script src="/public/scripts/googleInitializer.js"></script>
		<script src="/public/scripts/signin.js"></script>
	</body>
</html>
