<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/css/welcome.css" />
		<title>Welcome</title>
	</head>

	<body>
		<main class="bgimg">
			<section class="middle">
				<h4 class="welcome-title">welcome to</h4>
				<h1 class="middle">
					<!DOCTYPE html>

					<section class="first-title-wrapper">
						<h1 class="first-title">LAME</h1>
						<section class="button-group">
							<button
								class="button-primary"
								onclick="window.location.href='/create/terms-of-use'"
							>
								create
							</button>
							<button
								class="button-primary"
								onclick="window.location.href='/signin'"
							>
								signin
							</button>
							<button
								class="button-secondary"
								onclick="window.location.href='/explore'"
							>
								explore
							</button>
						</section>
					</section>
					<section class="second-title">
						<span class="second-title-sub"
							>ENGINE
							<h3 class="third-title">2D</h3>
						</span>
					</section>
				</h1>
			</section>
		</main>
	</body>
</html>
