<!DOCTYPE html>
<html lang="en">

<head>
    <title>Game Engine</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- using a CDN for pixi.js doesn't require us to use imports and a bundler like webpack which we'd
        need if we use npm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <script type="module" src="../public/scripts/engineBundle.js"></script>
</head>

<body>
    <main id="engine-view">
    </main>

    <!-- Test texture loading from user's local machine -->
    <input type="file" id="upload-button" accept="image/*" multiple/>
</body>

</html>